{
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"trailingComma": "none",
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"arrowParens": "avoid",
	"proseWrap": "preserve",
	"printWidth": 120
}
