.pac-container {
    z-index: 99999;
}

.ReactImageVideoLightbox>div {
    position: fixed !important;
    z-index: 99999;
}

.ant-form-item-label {
    line-height: 1 !important;
    width: 100% !important;
}

.ant-form-item-label label {
    margin: 0px !important;
    width: 100% !important;
}

.ant-form-item-label label .label {
    float: left !important;
}